@charset "utf-8";
/* CSS Document */
*{margin: 0px auto;padding: 0px;font-size: 15px;font-weight: bold;}
#box{width: 980px;}
#head{width: 980px; height: 50px;}
.logo{width: 100px;background-color: #333;color: #fff;height: 50px;text-align: center;line-height: 50px;float: left;}
.navigation{width: 730px;background-color: #333;color: #fff;height: 50px;float: left;line-height: 50px;padding-left: 150px;}
#body{width: 980px;margin-top: 20px;}
.banner{width: 720px;height: 580px;color: #fff;background-color: #0B95FF;float: left;text-align: center;line-height: 580px;}
.content_1{width: 240px;height: 180px;color: #fff;background-color: #444;float: right;margin-bottom: 20px;text-align: center;line-height: 180px;}
.content_2{width: 240px;height: 180px;color: #fff;background-color: #444;float: right;margin-bottom: 20px;text-align: center;line-height: 180px;}
.content_3{width: 240px;height: 180px;color: #fff;background-color: #444;float: right;text-align: center;line-height: 180px;}
#footer{width: 950px;height: 50px;color: #fff;background-color: #666;margin-top: 620px;line-height: 50px;padding-left: 30px;}